// Site Variables


@main-color: #FF0042;
// Screen Sizes
@desktop:                 960px;
@tablet:                  790px;
@mobile:                  320px;
@mobile-laandscape:       680px;

// Grid Variables
@grid-column-width: 63;
@grid-gutter-width: 16;
@grid-columns: 16;
@grid-left-init: 35px;

@font-path: "../fonts";

@icon-boobs: "\e900";
@icon-long-hair: "\e901";
@icon-normal-hair: "\e902";
@icon-eye: "\e903";
@icon-short-hair: "\e904";

@slider-width: 100%;
@slider-width-number: 230;
@slider-height: 12px;
@slider-border-width: 1px;
@slider-border-color: #d5d5d5;
@background-slider: #FF0042;
@background-filled-slider: #FF0042;
@thumb-width: 28px;
@thumb-height: 28px;
@thumb-radius: 50%;
@thumb-background: #41bea8;
@thumb-border: 1px solid #777;
@shadow-size: -8px;
@fit-thumb-in-slider: -8px;

